---
version: '3.6'
services:
  artisan:
    image: docker-registry.bjoola.nl/microservicetransactions/release:${VERSION}
    networks:
      - traefik-net
    environment:
      - APP_URL=https://${VIRTUAL_HOST}
      - APP_DEBUG=true
      - APP_LOG_LEVEL=info
      - DB_CONNECTION=mysql
      - DB_HOST=192.168.0.227
      - DB_PORT=3306
      - DB_DATABASE=dev_microservice_transactions
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - CACHE_DRIVER=file
      - SESSION_DRIVER=file
      - SESSION_LIFETIME=120
      - QUEUE_DRIVER=sync
      # Registrator config
      - SERVICE_NAME=microservicetransactions
      - SERVICE_TAGS=traefik.enable=true,traefik.frontend.rule=Host:dev.microservicetransactions.zerok.nl
      - SERVICE_CHECK_HTTP=/api/health
      - SERVICE_CHECK_INTERVAL=15s
      - SERVICE_CHECK_TIMEOUT=5s
      - SERVICE_CHECK_INITIAL_STATUS=critical
      - MESSAGE_ADAPTER=transactions-message-adapter:3000
      - PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUNJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBZzhBTUlJQ0NnS0NBZ0VBb2hWN2VybXFQZHp2RXkrT1E3c2ENCmN0c0hheExiVW9vSS92Y0RwWEE5bkdYZmp2TkgxVjUvdW1DdnRqSURUQkR1TFJRTkNaTDJ5SlVNa0JTbk1LUjUNCjk0aUMvZlNEYkFNNm9aMUdSbUZSMERIbHlCQnVTR3dDODZ0WHc4elZIbEtrbWJiMXBCakFPZ3o1Q29CRm9udGINCnp0bmM5ZzBQOXMxVE5La0o1TDNxSFBYK05YVU04Z1p4QVZsT3U0NFcwRm9SUmhxeWF2ZCtJbmVUWFluUnBWZ1YNCjBYK0JhN3cyU2wvSVJxZy9kUVhTdS92RzJFZEpVNzZHeDFBNXJUQ2hZT2gvQWFBalUzTFFWU2pLUzRmRU5ZaEcNCmJMNmwrOHBUYWtTVWxFaTZsZVpBU0FPSW5uZjd2RDd2MEdZRUVwckVGeFpWZ3AyVCtncUhYVkhvelI0MGtqVWgNCkNRTHQzOGtNTzNHS2hUUjNmTGhwYUVKZXlPbVpYbXBaN1RVMTFKbXFCOXBVazJsY2RnSXFkR0h5OGJHcGEyVGsNCmNKTGRGU2VxcUdhamFEQ3NTaCtQUHpTK21JN3ZKeUtyd0FXTVJVSFprWkYyZXpoQzJKU29HVWppREljTW9aQlENCnJRNjcvQUZNZGNyN2ExV3RScS9PTHpkcmhKV3VUeVFsSnpJN3RlQU8rVzYvaVMxRUlWVTNvZ0ovTnU1TytsRXgNClFIcjA1QnVrRElCbjM5eWpJek9mZUxaNGVBL1hVaVhEbmdodUljYmgzVHZMMmNDY2NpaFNJWExlbXVvc2dlZTYNCndaYldtQ1RoMU9FM2VPSU02V3NWcW14c2x0OWZQZ3R0VzI5ejFlUUlnWlcxWVkyRHpITVBEN3hZYitaRHFPUzcNClJ0MGRPRUhwSkhHZ1lQQStQRmZ2bDAwQ0F3RUFBUT09DQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0=

    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
  
  transactions-message-adapter:
      image: docker-registry.bjoola.nl/message-adapter/release:0.2.0-5b61371fcc
      networks:
        - traefik-net
      environment:
        - ADAPTER_CONFIG=${ADAPTER_CONFIG}
        - APPLICATION_NAME=message-adapter
        - APPLICATION_PORT=3000
        - RABBIT_HOST=192.168.0.143
        - RABBIT_PORT=5672
        - RABBIT_USER=root
        - RABBIT_PASS=root
        - RABBIT_QUEUE_EXPIRES=3600000
        - RABBIT_QUEUE_DURABLE=true
        - RABBIT_QUEUE_MESSAGE_TTL=300000
      logging:
        driver: "json-file"
        options:
          max-size: "16m"
          max-file: "8"

networks:
  traefik-net:
    external: true