---
version: '2'
services:
  artisan:
    image: docker-registry.bjoola.nl/microservicetransactions/lumen:${BASE_VERSION}
    hostname: artisan
    ports:
      - "8000:8000"
    volumes:
      - ./src:/data/www
      - ./swagger.json:/data/www/swagger.json
    command: -S 0.0.0.0:8000 -t public
    # https://docs.docker.com/engine/admin/logging/overview/
    logging:
      driver: "json-file"
      options:
        max-size: "16m"
        max-file: "8"
     environment:
      - MESSAGE_ADAPTER=message-adapter:81
  
  mysqldb:
    image: mysql:5.7
    hostname: mysqldb
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "transaction_api"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    hostname: phpmyadmin
    ports: 
      - "80:80"
    depends_on:
      - mysqldb
    environment:
      - PMA_HOST=mysqldb
  
  message-adapter:
      image: docker-registry.bjoola.nl/message-adapter/release:0.2.0-5b61371fcc
      ports:
       - "81:3000"
      volumes:
       - ./etc/config.json:/data/www/etc/config.json
      environment:
        - APPLICATION_NAME=message-adapter
        - APPLICATION_PORT=3000
        - RABBIT_HOST=192.168.0.143
        - RABBIT_PORT=5672
        - RABBIT_USER=root
        - RABBIT_PASS=root
        - RABBIT_EXCHANGE_NAME=amq.topic
        - RABBIT_QUEUE_EXPIRES=3600000
        - PARSED_CONFIG_PATH=./src/lib/parsed-config.json
        - RABBIT_QUEUE_EXCLUSIVE=false
        - RABBIT_QUEUE_DURABLE=true
        - RABBIT_QUEUE_MESSAGE_TTL=300000
      logging:
        driver: "json-file"
        options:
          max-size: "16m"
          max-file: "8"